body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

/* CSS cv.hmtl */
.list-index-container {
  max-width: 500px;
  min-height: 200px;
  margin: 50px auto;
  background-color: aliceblue;
}

.list-index-container li {
  padding: 30px 10px;
}

.list-index-container a {
  text-decoration: none;
  color: inherit;
}

.list-index-container:visited {
  color: #f94449;
}

/* CSS cv.html */
.cv-container {
  background-color: #c6dbef;
  line-height: 1.4;
  padding: 50px 0;
}

.cv {
  max-width: 730px;
  min-height: 200px;
  padding: 40px;
  background-color: #fff;
  margin: 0 auto;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header {
  text-align: center;
  padding: 15px 0;
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

.header-2 {
  padding: 20px 0 5px 0;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  font-weight: 700;
  font-size: 18px;
}

.box {
  padding: 20px 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  margin-bottom: 15px;
}

.list {
  list-style-type: disc;
  padding-left: 30px;
  line-height: 1.6;
}

.education-title strong {
  font-weight: 700;
}

/* CSS menu.html */
.menu-header {
  height: 80px;
  max-width: 100%;
  background-color: #3e5cca;
  display: flex;
  justify-content: center;
}

.menu > ul {
  display: flex;
  height: 100%;
  padding: 0 80px;
  gap: 40px;
  align-items: center;
}

.menu li {
  height: 100%;
  position: relative;
}

.menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 87px;
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.menu .active {
  background-color: #fff;
  color: #000;
}

.menu i {
  padding: 0 0 5px 5px;
}

.menu a:hover {
  background-color: #fff;
  color: #000;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  min-width: 290px;
  max-height: 75px;
  background: white;
  padding-left: 20px;
  margin-left: -20px;
}

.has-submenu:hover .sub-menu {
  display: block;
}

.sub-menu li {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.sub-menu a {
  display: block;
  color: #000;
  padding: 15px 20px;
  text-decoration: none;
  white-space: nowrap;
}

.sub-menu a:hover {
  background-color: #f5f5f5;
}
